@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #09090b;
    --card: #ffffff;
    --card-foreground: #09090b;
    --popover: #ffffff;
    --popover-foreground: #09090b;
    --primary: #18181b;
    --primary-foreground: #fafafa;
    --secondary: #f4f4f5;
    --secondary-foreground: #18181b;
    --muted: #f4f4f5;
    --muted-foreground: #71717a;
    --accent: #f4f4f5;
    --accent-foreground: #18181b;
    --destructive: #ef4444;
    --destructive-foreground: #fafafa;
    --border: #e4e4e7;
    --input: #e4e4e7;
    --ring: #09090b;
    --chart-1: #e86343;
    --chart-2: #2a9187;
    --chart-3: #2f3f4a;
    --chart-4: #d9b64e;
    --chart-5: #e67e33;
    --radius: 0.5rem;

    --sidebar-background: #fafafa;
    --sidebar-foreground: #3f3f46;
    --sidebar-primary: #18181b;
    --sidebar-primary-foreground: #fafafa;
    --sidebar-accent: #f4f4f5;
    --sidebar-accent-foreground: #18181b;
    --sidebar-border: #e5e7eb;
    --sidebar-ring: #3b82f6;
  }

  .dark {
    --background: #09090b;
    --foreground: #fafafa;
    --card: #09090b;
    --card-foreground: #fafafa;
    --popover: #09090b;
    --popover-foreground: #fafafa;
    --primary: #fafafa;
    --primary-foreground: #18181b;
    --secondary: #27272a;
    --secondary-foreground: #fafafa;
    --muted: #27272a;
    --muted-foreground: #a1a1aa;
    --accent: #27272a;
    --accent-foreground: #fafafa;
    --destructive: #7f1d1d;
    --destructive-foreground: #fafafa;
    --border: #27272a;
    --input: #27272a;
    --ring: #d4d4d8;
    --chart-1: #3b82f6;
    --chart-2: #2dd4bf;
    --chart-3: #fb923c;
    --chart-4: #c084fc;
    --chart-5: #f87171;

    --sidebar-background: #18181b;
    --sidebar-foreground: #f4f4f5;
    --sidebar-primary: #3b82f6;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #27272a;
    --sidebar-accent-foreground: #f4f4f5;
    --sidebar-border: #27272a;
    --sidebar-ring: #3b82f6;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

nextjs-portal {
  display: none;
}

.special-btn {
  @apply shadow-[inset_0px_0px_10px_2px_rgba(255,255,255,0.32)];
}

.glass-button {
  background: radial-gradient(
    229.59% 96.04% at 50% 3.96%,
    rgba(255, 255, 255, 0.55) 0%,
    rgba(255, 255, 255, 0.308) 100%
  );
  border: 2px solid transparent;
  border-image: linear-gradient(
      180deg,
      rgba(241, 243, 250, 0.44) 0%,
      rgba(241, 243, 250, 0.176) 100%
    )
    1;
  backdrop-filter: blur(44px);
  transition: opacity 0.2s ease;
}

.glass-button:hover {
  opacity: 0.9;
}

